{:kotoba.app/id "cloud.itonami.isic-5813", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreiewbmrrviij5xrz3facskzbcy5ofaofydcqt6qwsjhr2yw27wz6wm", :kotoba.app/embed-url "ipfs://bafkreiewbmrrviij5xrz3facskzbcy5ofaofydcqt6qwsjhr2yw27wz6wm", :published {:archive "https://kotobase.net/ipfs/bafkreiewbmrrviij5xrz3facskzbcy5ofaofydcqt6qwsjhr2yw27wz6wm", :size 72989, :put-status 201, :get-status 200, :at "2026-08-15T13:50:32.318Z"}}
